@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h4>Create new project</h4>
        <form id="createProductForm" onsubmit="return false;">

            <div class="form-group">
                <label for="TitleInput">Title</label>
                <input type="text" required class="form-control" id="TitleInput" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="PriceInput">Price</label>
                <input type="number" required class="form-control" id="PriceInput" placeholder="Price">
            </div>
            <button type="submit" class="btn btn-default" onclick="app.handleAddProduct()">Submit</button>
        </form>
    </div>


    <div class="col-md-8">

        <h4> </h4>
        <div class="row">
            <form class="form-inline" onsubmit="return false;">
                <div class="form-group">
                    
                    <select class="form-control" name="storage" id="storage">
                        <option value="memory" selected="selected">Memory</option>
                        <option value="disk">Disk</option>
                    </select>


                </div>

                <button class="btn btn-default" onclick="app.handleGetProducts()">Refresh</button>

            </form>
        </div>


        <div class="row"><table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Number</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody id="productsGrid">
            </tbody>
        </table></div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/app.js"></script>
}
